In [ ]:
!pip install pandas

In [90]:
import pandas as pd
from collections import Counter
import re
import numpy as np

In [91]:
df = pd.read_csv('treatment.csv')

In [92]:
df

,treatmentid,patientunitstayid,treatmentoffset,treatmentstring,activeupondischarge
0,9579899,242895,838,cardiovascular|arrhythmias|anticoagulant admin...,False
1,8788989,242895,512,cardiovascular|consultations|Cardiology consul...,False
2,10293108,242895,838,cardiovascular|non-operative procedures|extern...,False
3,9017080,242895,70,pulmonary|vascular disorders|VTE prophylaxis|l...,False
4,9853526,242895,70,cardiovascular|consultations|Cardiology consul...,False
...,...,...,...,...,...
38285,82612510,3352230,2176,pulmonary|ventilation and oxygenation|mechanic...,False
38286,82477425,3352230,2176,neurologic|pain / agitation / altered mentatio...,False
38287,82402829,3352231,117,cardiovascular|non-operative procedures|intraa...,False
38288,82335549,3352333,317,gastrointestinal|consultations|Gastroenterolog...,False
38289,82251705,3353113,837,neurologic|pain / agitation / altered mentatio...,True

In [93]:
treatmentIDList = df['treatmentid'].tolist()
repetitions = Counter(treatmentIDList)

In [94]:
[v for k,v in repetitions.items() if v>=2]

[]

In [95]:
treatmentList = df['treatmentstring'].tolist()
treatmentList2 = []
for treatment in treatmentList:
    for treat in treatment.split('|'):
        treatmentList2.append(treat)

In [96]:
repetitionsTreatment = Counter(treatmentList2)

In [97]:
sorted(repetitionsTreatment.items(), key=lambda x:x[1], reverse = True)

[('cardiovascular', 9606),
 ('pulmonary', 8409),
 ('medications', 7594),
 ('neurologic', 4667),
 ('gastrointestinal', 4474),
 ('ventilation and oxygenation', 3651),
 ('infectious diseases', 3465),
 ('pain / agitation / altered mentation', 2653),
 ('analgesics', 2322),
 ('consultations', 2296),
 ('renal', 2225),
 ('endocrine', 2192),
 ('therapeutic antibacterials', 1786),
 ('vascular disorders', 1773),
 ('myocardial ischemia / infarction', 1715),
 ('VTE prophylaxis', 1588),
 ('surgery', 1515),
 ('intravenous fluid', 1492),
 ('normal saline administration', 1381),
 ('mechanical ventilation', 1381),
 ('glucose metabolism', 1378),
 ('stress ulcer prophylaxis', 1328),
 ('insulin', 1270),
 ('radiologic procedures / bronchoscopy', 1194),
 ('electrolyte correction', 1190),
 ('shock', 1148),
 ('bronchodilator', 1099),
 ('arrhythmias', 1052),
 ('cultures / immuno-assays', 1036),
 ('cultures', 1019),
 ('sedative agent', 910),
 ('vasopressors', 896),
 ('non-operative procedures', 818),
 ('electrolyte administration', 801),
 ('oxygen therapy (< 40%)', 795),
 ('procedures / diagnostics', 783),
 ('hypertension', 758),
 ('chest x-ray', 750),
 ('antiemetic', 714),
 ('ventricular dysfunction', 695),
 ('pantoprazole', 682),
 ('general', 666),
 ('narcotic analgesic', 620),
 ('antibacterials', 613),
 ('CT scan', 590),
 ('support services', 570),
 ('intravenous diuretic', 563),
 ('anticoagulant administration', 560),
 ('nutrition', 560),
 ('conventional heparin therapy', 558),
 ('antiplatelet agent', 542),
 ('antiarrhythmics', 515),
 ('blood product administration', 487),
 ('foley catheter', 487),
 ('compression stockings', 480),
 ('serotonin antagonist', 477),
 ('non-invasive ventilation', 466),
 ('vancomycin', 462),
 ('beta blocker', 462),
 ('hematology', 460),
 ('ondansetron', 458),
 ('nasal cannula', 452),
 ('aspirin', 451),
 ('low molecular weight heparin', 440),
 ('sliding scale administration', 430),
 ('administration of electrolytes', 424),
 ('diagnostic ultrasound of heart', 423),
 ('oxygen therapy (40% to 60%)', 421),
 ('enteral feeds', 414),
 ('Cardiology consultation', 406),
 ('Pulmonary/CCM consultation', 382),
 ('radiology, diagnostic and procedures', 378),
 ('bolus parenteral analgesics', 373),
 ('intravenous', 366),
 ('intravenous fluid administration', 364),
 ('head CT scan', 363),
 ('potassium', 362),
 ('urinary catheters', 359),
 ('analgesics /sedatives/ nmbs', 357),
 ('enoxaparin', 355),
 ('IV furosemide', 349),
 ('penicillins', 347),
 ('antihyperlipidemic agent', 342),
 ('blood', 331),
 ('lorazepam', 328),
 ('procedures', 327),
 ('compression boots', 325),
 ('ICH/ cerebral infarct', 315),
 ('seizure therapy', 312),
 ('tubes and catheters', 309),
 ('anticonvulsant', 305),
 ('packed red blood cells', 303),
 ('non-narcotic analgesic', 298),
 ('fluid bolus (250-1000mls)', 297),
 ('magnesium', 296),
 ('burns/trauma', 295),
 ('metoprolol', 294),
 ('piperacillin/tazobactam', 292),
 ('inotropic agent', 288),
 ('beta-agonist', 287),
 ('HMG-CoA reductase inhibitor', 285),
 ('propofol', 284),
 ('famotidine', 284),
 ('subcutaneous', 274),
 ('norepinephrine > 0.1 micrograms/kg/min', 271),
 ('transthoracic echocardiography', 265),
 ('glucocorticoid administration', 261),
 ('acetaminophen', 255),
 ('quinolone', 249),
 ('class III antiarrhythmic', 246),
 ('vascular catheter placement', 246),
 ('sedative', 246),
 ('oral analgesics', 242),
 ('continuous infusion', 241),
 ('dialysis', 241),
 ('physical therapy consult', 239),
 ('amiodarone', 237),
 ('albuterol (Proventil, Ventolin)', 235),
 ('ACE inhibitor', 230),
 ('ventilator weaning', 226),
 ('urine', 223),
 ('surgery / incision and drainage of thorax', 214),
 ('red blood cell disorders', 207),
 ('diltiazem', 207),
 ('CPAP/PEEP therapy', 205),
 ('endoscopy/gastric instrumentation', 205),
 ('toxicology', 201),
 ('drug overdose', 201),
 ('trauma', 201),
 ('levofloxacin', 200),
 ('oxygen therapy (> 60%)', 200),
 ('vasodilating agent - IV', 196),
 ('Neurology consultation', 196),
 ('norepinephrine <= 0.1 micrograms/kg/min', 196),
 ('Infectious Disease consultation', 195),
 ('aggressive volume resuscitation (>250 mls/hr)', 194),
 ('third generation cephalosporin', 190),
 ('atorvastatin', 190),
 ('cardiac angiography', 188),
 ('lisinopril', 188),
 ('thyroid disorder', 187),
 ('coagulation and platelets', 186),
 ('oral', 185),
 ('ceftriaxone', 183),
 ('Surgery consultation', 178),
 ('hemodialysis', 177),
 ('nitroglycerin', 176),
 ('occupational therapy consult', 176),
 ('class IV antiarrhythmic', 173),
 ('laxatives', 169),
 ('endotracheal tube', 168),
 ('Gastroenterology consultation', 168),
 ('thyroid hormone', 165),
 ('IV', 165),
 ('exploratory surgery', 165),
 ('oral feeds', 164),
 ('face mask', 163),
 ('therapy for controlling cerebral perfusion pressure', 161),
 ('phenylephrine (Neosynephrine)', 159),
 ('abdomen', 157),
 ('pulmonary therapies', 157),
 ('levetiracetam', 156),
 ('nicardipine', 154),
 ('continuous parenteral analgesics', 152),
 ('alpha/beta blocker', 152),
 ('ipratropium', 151),
 ('infection', 150),
 ('stress ulcer treatment', 149),
 ('sputum', 149),
 ('nebulized', 149),
 ('Nephrology consultation', 147),
 ("transfusion of 1-2 units prbc's", 146),
 ('subcutaneous dose of regular insulin', 146),
 ('bicarbonate', 143),
 ('tube feeding', 138),
 ('Neurosurgery consultation', 137),
 ('prophylactic antibacterials', 134),
 ("Lactated Ringer's administration", 133),
 ('labetalol', 133),
 ('tracheal suctioning', 133),
 ('hydralazine', 131),
 ('cardiac surgery', 130),
 ('central venous', 127),
 ('midazolam', 125),
 ('carvedilol', 125),
 ('exploratory laparotomy', 123),
 ('antihypertensives', 119),
 ('feeding tube', 116),
 ('calcium channel blocker', 115),
 ('systemic glucocorticoid', 113),
 ('sodium bicarbonate', 113),
 ('administration of saline solution', 113),
 ('esophagogastroduodenoscopy', 111),
 ('coumadin', 110),
 ('pelvis', 110),
 ('subcutaneous dose of longer-acting insulin prepara', 109),
 ('neurosurgery', 109),
 ('hypotonic fluid administration', 108),
 ('carbapenem', 108),
 ('oncology', 106),
 ('dexmedetomidine', 106),
 ('intravenous fluids / electrolytes', 104),
 ('levothyroxine (T4)', 103),
 ('MRI - head', 102),
 ('glucose', 101),
 ('social work consult', 101),
 ('insertion', 101),
 ('Pulmonary medicine consultation', 101),
 ('wounds / temperature', 100),
 ('SSRI administration', 99),
 ('dopamine  5-15 micrograms/kg/min', 97),
 ('quality measures', 96),
 ('parenteral', 95),
 ('nasogastric tube', 95),
 ('antifungal therapy', 94),
 ('treatment of hyperkalemia', 94),
 ('metronidazole', 93),
 ('macrolide', 93),
 ('dobutamine', 93),
 ('oral diuretic', 92),
 ('azithromycin', 91),
 ('therapeutic craniotomy', 91),
 ('antibiotics', 90),
 ('fourth generation cephalosporin', 89),
 ('meropenem', 89),
 ('without contrast', 88),
 ('angiogram', 88),
 ('digoxin', 87),
 ('glucocorticoids', 86),
 ('promethazine', 86),
 ('GI therapies', 83),
 ('moderate volume resuscitation (150-250 mls/hr)', 81),
 ('parenteral feeds', 80),
 ('cardiac therapies', 80),
 ('fresh frozen plasma', 79),
 ('physical restraints', 79),
 ("transfusion of > 2 units prbc's", 79),
 ('adrenal disorders', 78),
 ('procedures/radiology', 75),
 ('cefepime', 74),
 ('calcium', 74),
 ('wound care', 73),
 ('tracheostomy', 73),
 ('omeprazole', 72),
 ('endotracheal tube removal', 72),
 ('colloid administration', 70),
 ('fluconazole', 69),
 ('Psychiatry consultation', 69),
 ('enteral formula', 68),
 ('inhaled', 67),
 ('vasopressin', 66),
 ('empiric antibacterial coverage', 64),
 ('EEG', 64),
 ('methylprednisolone', 64),
 ('assist controlled', 64),
 ('drug levels', 63),
 ('thoracentesis', 63),
 ('implantation of heart pacemaker', 62),
 ('aggregation inhibitors', 62),
 ('clonidine', 62),
 ('surgical drains', 61),
 ('25-30%', 60),
 ('vitamin K', 59),
 ('clopidogrel', 59),
 ('for surgery', 59),
 ('antihypertensive drug', 58),
 ('nicotine patch', 58),
 ('lactulose', 58),
 ('doss (Colace)', 58),
 ('Hematology consultation', 58),
 ('CABG', 58),
 ('Cardiac surgery consultation', 57),
 ('albumin', 56),
 ('diazepam', 56),
 ('vasodilator', 55),
 ('non-invasive testing for DVT', 53),
 ('TPN', 52),
 ('intraaortic balloon pump', 52),
 ('antiviral therapy', 51),
 ('insertion of thoracostomy tube', 50),
 ('valve replacement or repair', 50),
 ('hormonal therapy (for varices)', 49),
 ('octreotide', 49),
 ('anticholinergic', 49),
 ('reduce FIO2 as tolerated', 48),
 ('oncology consultation', 48),
 ('neuromyopathy therapy', 48),
 ('cephalosporin', 48),
 ('discharge planning consult', 47),
 ('simvastatin', 47),
 ('diphenhydramine', 47),
 ('routine', 47),
 ('D50', 46),
 ('bronchoscopy', 45),
 ('ultrasonography', 44),
 ('gabapentin', 43),
 ('chest tube', 43),
 ('for hematoma', 43),
 ('PCA', 42),
 ('exploratory laparoscopy', 42),
 ('other therapies', 42),
 ('antidepressant', 41),
 ('first generation cephalosporin', 41),
 ('renal ultrasound', 41),
 ('ferrous iron compound', 41),
 ('dexamethasone', 40),
 ('haloperidol', 40),
 ('esomeprazole', 40),
 ('alteplase', 40),
 ('intracranial/cerebral perfusion pressure monitoring', 40),
 ('cefazolin', 39),
 ('with stent placement', 39),
 ('bisacodyl (Dulcolax, Fleet)', 39),
 ('lumbar puncture', 39),
 ('dressing change', 39),
 ('for chronic renal failure', 39),
 ('milrinone', 39),
 ('phosphate', 38),
 ('narcotic antagonist', 38),
 ('agent specific therapy', 38),
 ('antiplatelet agents', 38),
 ('nimodipine', 38),
 ('Vascular surgery consultation', 38),
 ('proton pump inhibitor', 38),
 ('normal saline solution', 37),
 ('>90%', 37),
 ('fluoxetine (Prozac)', 37),
 ('Trauma surgery consultation', 36),
 ('hydrocortisone', 35),
 ('pressure support', 35),
 ('tidal volume 6-10 ml/kg', 35),
 ('prokinetic agent', 35),
 ('spironolactone', 35),
 ('treatment of hypernatremia', 35),
 ('oral hypoglycemic administration', 34),
 ('atenolol', 34),
 ('metoclopramide', 34),
 ('for tumor', 34),
 ('bumetanide', 34),
 ('ciprofloxacin', 33),
 ('class II antiarrhythmic', 33),
 ('percutaneous', 33),
 ('40-50%', 33),
 ('vascular surgery', 33),
 ('D5 half-normal saline', 32),
 ('peripheral venous', 32),
 ('30-40%', 32),
 ('ventriculostomy', 32),
 ('hypothermia', 31),
 ('angiotensin II receptor blocker (ARB)', 31),
 ('platelet concentrate', 31),
 ('spine', 31),
 ('Orthopedics consultation', 31),
 ('peripheral', 31),
 ('acyclovir', 31),
 ('without IV contrast', 31),
 ('free water administration', 31),
 ('5-10 cm H2O', 30),
 ('therapeutic', 30),
 ('pulmonary artery catheter placement', 30),
 ('thrombolytic agent', 30),
 ('volume controlled', 30),
 ('darbepoetin alfa', 30),
 ('iron sucrose', 30),
 ('dopamine >15 micrograms/kg/min', 29),
 ('clindamycin', 29),
 ('50-60%', 29),
 ('anti-psychotic agent', 29),
 ('naloxone (Narcan)', 28),
 ('with contrast', 28),
 ('po furosemide', 28),
 ('transdermal', 28),
 ('angiography', 28),
 ('>250 cc/hr', 28),
 ('citalopram (Celexa)', 27),
 ('prednisone', 27),
 ('left heart', 27),
 ('IV diuretic - continuous infusion', 27),
 ('influenza vaccine', 27),
 ('glucose control', 27),
 ('temporary', 26),
 ('sucralfate', 26),
 ('epinephrine <= 0.1 micrograms/kg/min', 26),
 ('jejunal', 25),
 ('pneumococcal vaccine', 25),
 ('hypertonic saline administration', 25),
 ('C V V H', 25),
 ('cardioversion', 24),
 ('neuraxial analgesics', 24),
 ('head', 24),
 ('right heart', 24),
 ('C. difficile toxin', 24),
 ('sublingual', 23),
 ('monobactam', 23),
 ('aztreonam', 23),
 ('antipyretics', 23),
 ('vasodilator for pulmonary hypertension', 23),
 ('chest', 22),
 ('surgical resection for cancer', 22),
 ('smoking cessation counseling', 22),
 ('with angioplasty', 22),
 ('palliative care consultation', 22),
 ('combination beta-agonist/anticholinergic', 22),
 ('IVC filter', 22),
 ('surgical debridement', 22),
 ('active', 21),
 ('synchronized intermittent', 21),
 ('dipyridamole', 21),
 ('transplant', 21),
 ('haldol', 21),
 ('half-normal saline solution', 21),
 ('insulin / glucose', 21),
 ('abscess drainage', 21),
 ('permanent', 20),
 ('Jackson-Pratt', 20),
 ('class I antiarrhythmic', 20),
 ('treatment of hyponatremia', 20),
 ('PEG', 20),
 ('stool', 20),
 ('emergent', 20),
 ('kayexalate', 20),
 ('external pacemaker', 19),
 ('spiral CT', 19),
 ('epinephrine > 0.1 micrograms/kg/min', 19),
 ('transesophageal echocardiography', 19),
 ('sertraline (Zoloft)', 19),
 ('Urology consultation', 19),
 ('systemic antibiotics', 19),
 ('insertion of venous catheter for hemodialysis', 19),
 ('pantoprazole IV', 19),
 ('neuromuscular blocking agent', 18),
 ('esmolol', 18),
 ('anti-protozoal therapy', 18),
 ('for malaria', 18),
 ('doxycycline', 18),
 ('levalbuterol (Xopenex)', 18),
 ('nitroprusside', 18),
 ('C V V H D', 18),
 ('antacids', 17),
 ('nasogastric', 17),
 ('trach collar', 17),
 ('Endocrinology consultation', 17),
 ('phenytoin', 17),
 ('ranitidine', 17),
 ('for drainage of effusion', 17),
 ('Physical medicine consultation', 17),
 ('enema', 17),
 ('thrombolytics', 17),
 ('thoracoscopic procedure', 17),
 ('internal fixation', 16),
 ('serum drug levels', 16),
 ('intraaortic balloon pump removal', 16),
 ('with suction', 16),
 ('fluid restriction', 16),
 ('D10W', 16),
 ('immunosuppressive therapy', 16),
 ('bleeding scan', 15),
 ('linezolid', 15),
 ('lansoprazole', 15),
 ('linezolid (Zyvox)', 15),
 ('leukotriene receptor antagonists', 15),
 ('second generation cephalosporin', 14),
 ('ketorolac', 14),
 ('ibuprofen', 14),
 ('MRI - spine', 14),
 ('phenothiazine', 14),
 ('pravastatin', 14),
 ('CSF', 14),
 ('splinting', 14),
 ('Neuroradiology consultation', 14),
 ('carotid endarterectomy', 14),
 ('dopamine <= 5 micrograms/kg/min', 14),
 ('mannitol', 14),
 ('defibrillation', 13),
 ('losartan', 13),
 ('IV diuretic - bolus infusion', 13),
 ('with IV contrast', 13),
 ('MRI', 13),
 ('arterial', 13),
 ('intralipid', 13),
 ('skin care', 13),
 ('monitor vital capacities for deterioration', 13),
 ('intravenous fluids', 13),
 ('voided', 13),
 ('aneurysm resection / repair', 13),
 ('glycoprotein IIB/IIIA inhibitor', 13),
 ('surgically placed', 13),
 ('alkalinization', 13),
 ('stress doses', 13),
 ('for drainage of air', 13),
 ('paracentesis', 13),
 ('with coiling', 13),
 ('with embolization', 13),
 ('D5W', 12),
 ('pressure controlled', 12),
 ('verapamil', 12),
 ('vitamin B12', 12),
 ('electrical', 11),
 ('cefuroxime', 11),
 ('AFB', 11),
 ('non-cardiac angiography', 11),
 ('pulmonary resection', 11),
 ('for acute renal failure', 11),
 ('fiberoptic colonoscopy', 11),
 ('intravenous calcium', 11),
 ('chemotherapy', 11),
 ('trimethoprim-sulfamethoxazole', 11),
 ('lung tissue biopsy', 11),
 ('urinary drug levels', 10),
 ('n-acetylcysteine', 10),
 ('drug removal measures', 10),
 ('nutritional supplement', 10),
 ('implantation of LVAD', 10),
 ('anticonvulsants', 10),
 ('imipenem-cilastatin', 10),
 ('transdermal analgesics', 10),
 ('diagnostic', 10),
 ('enalapril', 10),
 ('oral gastric', 10),
 ('CABG and valve', 10),
 ('intravenous diuretics', 10),
 ('sulfonamide', 10),
 ('in OR', 10),
 ('vecuronium', 9),
 ('non-rebreather mask', 9),
 ('acetaminophen overdose', 9),
 ('with banding', 9),
 ('performed during current admission for ventilatory support', 9),
 ('trazodone (Desyrel)', 9),
 ('catheterized', 9),
 ('antidiarrhea agent', 9),
 ('folate', 9),
 ('valproate', 9),
 ('EEG monitoring', 9),
 ('tacrolimus', 9),
 ('cisatracurium', 9),
 ('eptifibatide', 9),
 ('amoxicillin', 8),
 ('drainage procedure - percutaneous', 8),
 ('antithyroid therapy', 8),
 ('methimazole', 8),
 ('propafenone', 8),
 ('pulmonary ventilation perfusion study', 8),
 ('milk of magnesia', 8),
 ('nifedipine', 8),
 ('thrombin inhibitor', 8),
 ('CSF drainage via ventriculostomy', 8),
 ('70-80%', 8),
 ('heparin lock IV fluids', 8),
 ('adenosine', 8),
 ('with chemocautery', 7),
 ('drug-eluting', 7),
 ('hypertonic fluid', 7),
 ('amantadine', 7),
 ('perphenazine', 7),
 ('antihypertensive combination agent', 7),
 ('lidocaine', 7),
 ('lung recruitment maneuver', 7),
 ('pastoral services consult', 7),
 ('orthopedic internal fixation system', 7),
 ('piperacillin', 7),
 ('narcotic overdose', 7),
 ('overdrive pacing', 7),
 ('thiazides', 6),
 ('doxepin', 6),
 ('ertapenem', 6),
 ('rapid', 6),
 ('suicide precautions', 6),
 ('drainage procedure - surgical', 6),
 ('propranolol', 6),
 ('aminoglycoside', 6),
 ('sennoside (Ex-lax, Senekot)', 6),
 ('pulmonary angiogram', 6),
 ('ERCP', 6),
 ('furosemide', 6),
 ('arteriography', 6),
 ('beta-agonist nebulized treatment', 6),
 ('nasal mask', 6),
 ('naloxone', 6),
 ('laminectomy', 6),
 ('white blood cell disorders', 6),
 ('hematopoetic growth factors', 6),
 ('filgrastim (Neupogen)', 6),
 ('oral iron', 6),
 ('hemicraniectomy', 6),
 ('reintubation', 6),
 ('argatroban', 6),
 ('fluid bolus (250-1000 mls)', 5),
 ('burns', 5),
 ('special care bed', 5),
 ('thrombectomy', 5),
 ('antifibrinolytics', 5),
 ('Amicar (aminocaproic acid)', 5),
 ('carotid angiogram', 5),
 ('mycophenolate mofetil', 5),
 ('glucagon', 5),
 ('sotalol', 5),
 ('wedge resection', 5),
 ('thoracostomy tube', 5),
 ('ceftazidime', 5),
 ('10-15 cm H2O', 4),
 ('amitriptyline', 4),
 ('irbesartan', 4),
 ('with irrigation', 4),
 ('hepatitis screen', 4),
 ('microscopical examination', 4),
 ('tobramycin', 4),
 ('vanafaxine (Effexor)', 4),
 ('Transplant surgery consultation', 4),
 ('Thoracic surgery consultation', 4),
 ('ampicillin/sulbactam', 4),
 ('abscess drainage procedure', 4),
 ('AICD placement', 4),
 ('tidal volume < 6 ml/kg', 4),
 ('reversal of neuromuscular blockade', 4),
 ('cooling the patient', 4),
 ('external cooling', 4),
 ('beta blockers overdose', 4),
 ('tricyclic overdose', 4),
 ('80-90%', 4),
 ('< 500 ml/24 hours', 4),
 ('prophylactic', 4),
 ('chlorothiazide', 4),
 ('ENT consultation', 4),
 ('montelukast (Singulair)', 4),
 ('1500-2000 ml', 4),
 ('cefoxitin', 3),
 ('pituitary and temperature regulation', 3),
 ('active external rewarming', 3),
 ('immunosuppressives', 3),
 ('surgical specimen', 3),
 ('tidal volume > 10 ml/kg', 3),
 ('oncological issues', 3),
 ('factor Xa inhibitor', 3),
 ('prochlorperazine', 3),
 ('bupropion (Wellbutrin)', 3),
 ('flumazenil', 3),
 ('atropine', 3),
 ('hypotonic fluid', 3),
 ('diuretic', 3),
 ('nuclear biliary scan', 3),
 ('orthopedic device', 3),
 ('Medicine consultation', 3),
 ('suprapubic catheter', 3),
 ('carotid stenting', 3),
 ('cryoprecipitate', 3),
 ('acetazolamide', 3),
 ('fasciotomy', 3),
 ('tissue biopsy', 3),
 ('cystoscopy', 3),
 ('catheter ablation of lesion of heart', 3),
 ('cervical', 3),
 ('cardiac nuclear study', 3),
 ('adrenal surgery', 3),
 ('valganciclovir', 3),
 ('tumor', 3),
 ('thrombolytic therapy', 3),
 ('kidney biopsy', 3),
 ('neostigmine', 3),
 ('calcium channel blockers overdose', 3),
 ('quinidine', 3),
 ('potassium sparing diuretic', 3),
 ('with bronchial alveolar lavage', 3),
 ('with thrombolysis', 3),
 ('salicylate overdose/toxicity', 3),
 ("legionnaire's urinary antigen", 3),
 ('bismuth subsalicylate', 3),
 ('inhaled medications for cystic fibrosis', 2),
 ('inhaled n-acetylcysteine', 2),
 ('ibutilide', 2),
 ('anesthetics', 2),
 ('ketamine', 2),
 ('erythropoietin', 2),
 ('daptomycin', 2),
 ('diphenoxylate & atropine', 2),
 ('topical burn preparation', 2),
 ('silver sulfadiazine', 2),
 ('valsartan', 2),
 ('juice or other oral glucose administration', 2),
 ('meclizine', 2),
 ('venogram', 2),
 ('lamotrigine', 2),
 ('chemical', 2),
 ('D5NS', 2),
 ('fondaparinux', 2),
 ('factor Xa Inhibitor', 2),
 ('flecainide', 2),
 ('< 500 ml', 2),
 ('isoproterenol (Isuprel)', 2),
 ('tham', 2),
 ('reduce CPAP as tolerated', 2),
 ('with stenting', 2),
 ('with cerebral angioplasty', 2),
 ('orthopedic immobilizer', 2),
 ('mineral oil', 2),
 ('psyllium (Metamucil, Polycarbophil)', 2),
 ('lymph node', 2),
 ('thoracic', 2),
 ('arteriovenous shunt for renal dialysis', 2),
 ('kidney stone procedure', 2),
 ('abciximab', 2),
 ('drainage of hematoma-craniotomy', 2),
 ('vascular bypass', 2),
 ('gentamicin', 2),
 ('fungal', 2),
 ('bacterial', 2),
 ('post-op', 2),
 ('for drainage of blood', 2),
 ('percutaneous catheter', 2),
 ('biopsy material', 2),
 ('pneumocystis therapy', 2),
 ('dapsone', 2),

In [98]:
dfTreatment = df[df['treatmentstring'].str.contains("cardiovascular")]
dfTreatment = dfTreatment[['patientunitstayid','treatmentstring','activeupondischarge']]
dfTreatment

,patientunitstayid,treatmentstring,activeupondischarge
0,242895,cardiovascular|arrhythmias|anticoagulant admin...,False
1,242895,cardiovascular|consultations|Cardiology consul...,False
2,242895,cardiovascular|non-operative procedures|extern...,False
4,242895,cardiovascular|consultations|Cardiology consul...,False
6,242895,cardiovascular|consultations|Cardiology consul...,False
...,...,...,...
38276,3352230,cardiovascular|myocardial ischemia / infarctio...,False
38278,3352230,cardiovascular|shock|vasopressors|epinephrine ...,False
38281,3352230,cardiovascular|shock|inotropic agent|dobutamine,False
38283,3352230,cardiovascular|non-operative procedures|intraa...,False
38287,3352231,cardiovascular|non-operative procedures|intraa...,False

In [99]:
listPatients = dfTreatment['patientunitstayid'].tolist()
repetitionsPatient = Counter(listPatients)
repetitionsPatient

Counter({242895: 17,
         243097: 16,
         243999: 3,
         244477: 3,
         244707: 5,
         246997: 3,
         247261: 3,
         249328: 37,
         249805: 15,
         250073: 1,
         250574: 3,
         250719: 12,
         250724: 30,
         251111: 6,
         257287: 14,
         257802: 7,
         258915: 20,
         260468: 21,
         260647: 10,
         260860: 3,
         261520: 22,
         262775: 3,
         263279: 5,
         263850: 54,
         264276: 42,
         264423: 3,
         264901: 21,
         267196: 1,
         267829: 2,
         272927: 1,
         275329: 6,
         276562: 6,
         276594: 2,
         276815: 9,
         280350: 18,
         281132: 14,
         282439: 6,
         284265: 22,
         284517: 1,
         287848: 3,
         288133: 8,
         289502: 2,
         291628: 3,
         292154: 5,
         294032: 14,
         295112: 1,
         295916: 18,
         296926: 4,
         296927: 13,
         297175: 9,
         297291: 4,
         299914: 8,
         300007: 2,
         300142: 3,
         300385: 1,
         301185: 7,
         302226: 4,
         302668: 109,
         304256: 2,
         304631: 2,
         306247: 6,
         308316: 4,
         310446: 3,
         310783: 2,
         311043: 2,
         312258: 68,
         312665: 30,
         313055: 12,
         313736: 7,
         314161: 1,
         314889: 1,
         316382: 3,
         322290: 6,
         325626: 2,
         325924: 16,
         326308: 4,
         327581: 8,
         329635: 9,
         332253: 10,
         332296: 1,
         332658: 1,
         333689: 16,
         335868: 10,
         336272: 18,
         337621: 5,
         341064: 4,
         341322: 1,
         341668: 2,
         341780: 140,
         341781: 12,
         341782: 52,
         342371: 1,
         343093: 10,
         343094: 6,
         344379: 4,
         345142: 45,
         346380: 31,
         346753: 1,
         347475: 12,
         348873: 7,
         349322: 25,
         349481: 5,
         350259: 12,
         350263: 7,
         350551: 15,
         351524: 33,
         351525: 8,
         351717: 2,
         351720: 20,
         356684: 8,
         356949: 1,
         357166: 6,
         361404: 10,
         363006: 4,
         364998: 2,
         365045: 14,
         365652: 2,
         369237: 14,
         369273: 6,
         370128: 3,
         371003: 4,
         372007: 3,
         373392: 2,
         374770: 1,
         375725: 3,
         375854: 33,
         376041: 15,
         378120: 12,
         379119: 35,
         379570: 3,
         381129: 28,
         383124: 8,
         383358: 33,
         384028: 48,
         384485: 23,
         386342: 22,
         387623: 12,
         387984: 7,
         389703: 14,
         389791: 10,
         390956: 8,
         391704: 2,
         392935: 5,
         393769: 6,
         393867: 2,
         395323: 18,
         395649: 3,
         399365: 1,
         399455: 7,
         399713: 12,
         402604: 8,
         402918: 1,
         403279: 1,
         403605: 12,
         404144: 9,
         405340: 3,
         405746: 15,
         408514: 257,
         409048: 9,
         410108: 2,
         411036: 35,
         414364: 2,
         416103: 7,
         417265: 4,
         417524: 111,
         417577: 55,
         417578: 52,
         418417: 8,
         420354: 12,
         420865: 19,
         425870: 8,
         426975: 12,
         426976: 28,
         430845: 9,
         431760: 5,
         436624: 8,
         439621: 2,
         441732: 24,
         443664: 3,
         444241: 3,
         444692: 10,
         447542: 3,
         447543: 11,
         450383: 1,
         453326: 8,
         453764: 3,
         454240: 3,
         454584: 2,
         467819: 23,
         468560: 2,
         469890: 3,
         472359: 11,
         472360: 3,
         472811: 13,
         482789: 4,
         483209: 9,
         485952: 2,
         486824: 2,
         489459: 14,
         490454: 28,
         490809: 5,
         493862: 18,
         494366: 10,
         496831: 6,
         498515: 8,
         498848: 17,
         498849: 7,
         499328: 1,
         506770: 8,
         508973: 2,
         509023: 3,
         514387: 3,
         518155: 4,
         520522: 14,
         521456: 4,
         523787: 2,
         524799: 42,
         525046: 3,
         531662: 9,
         531806: 2,
         532222: 37,
         532223: 21,
         533168: 8,
         564216: 3,
         569865: 2,
         570085: 5,
         570086: 4,
         572557: 4,
         583821: 1,
         585971: 6,
         587426: 4,
         598211: 1,
         599651: 2,
         603254: 9,
         603255: 3,
         616272: 2,
         616273: 2,
         618867: 1,
         624150: 2,
         626098: 1,
         635827: 20,
         636187: 1,
         638579: 6,
         639917: 1,
         640796: 37,
         654191: 1,
         671293: 4,
         681745: 1,
         688013: 1,
         701925: 4,
         706954: 2,
         709257: 1,
         717631: 1,
         722595: 1,
         733082: 1,
         733083: 4,
         741996: 11,
         752830: 7,
         755286: 10,
         755774: 14,
         756295: 4,
         758325: 3,
         758327: 4,
         758779: 1,
         763979: 1,
         772262: 2,
         785227: 1,
         785320: 2,
         788008: 3,
         807441: 1,
         818155: 1,
         826483: 2,
         826669: 5,
         827085: 5,
         837709: 25,
         837984: 1,
         838945: 11,
         839120: 3,
         845145: 1,
         850469: 1,
         851093: 5,
         851094: 1,
         852423: 4,
         852424: 1,
         857618: 2,
         859201: 1,
         860386: 1,
         865698: 5,
         876268: 1,
         876429: 6,
         887817: 2,
         899746: 1,
         906947: 1,
         907258: 1,
         910048: 1,
         910050: 1,
         910051: 2,
         913057: 12,
         914801: 2,
         922231: 2,
         924223: 6,
         925146: 9,
         926317: 3,
         926319: 1,
         931649: 4,
         939222: 11,
         942382: 1,
         942529: 5,
         949938: 6,
         958499: 2,
         958719: 8,
         958720: 10,
         959746: 3,
         960943: 2,
         961295: 1,
         961441: 2,
         962227: 4,
         964782: 3,
         965083: 5,
         965562: 8,
         966066: 1,
         967281: 2,
         968228: 1,
         968367: 12,
         968871: 17,
         969334: 3,
         969631: 5,
         970978: 3,
         970984: 5,
         971171: 6,
         971247: 7,
         972802: 1,
         972933: 1,
         973612: 1,
         974986: 1,
         975257: 2,
         975298: 1,
         975692: 2,
         976505: 1,
         976535: 1,
         976722: 7,
         976781: 1,
         976782: 3,
         977218: 2,
         978037: 4,
         979122: 9,
         1008970: 3,
         1015158: 4,
         1036759: 20,
         1056051: 5,
         1056912: 2,
         1057910: 2,
         1058166: 2,
         1058611: 5,
         1058612: 5,
         1059195: 1,
         1059340: 6,
         1059638: 2,
         1060026: 3,
         1060144: 5,
         1061585: 2,
         1061893: 3,
         1062496: 3,
         1063405: 2,
         1063659: 2,
         1063742: 3,
         1064283: 1,
         1065468: 2,
         1065859: 2,
         1066190: 8,
         1066837: 1,
         1067237: 5,
         1067786: 1,
         1068212: 2,
         1068221: 2,
         1068646: 1,
         1068757: 1,
         1069005: 2,
         1069119: 2,
         1069678: 1,
         1070390: 3,
         1070882: 5,
         1071450: 2,
         1072605: 1,
         1072883: 13,
         1073098: 1,
         1074253: 2,
         1075126: 15,
         1076172: 61,
         1076979: 2,
         1081591: 18,
         1081886: 1,
         1081887: 2,
         1083557: 3,
         1083722: 1,
         1084013: 2,
         1087299: 2,
         1087596: 3,
         1088206: 3,
         1088450: 1,
         1090033: 1,
         1090039: 29,
         1090567: 15,
         1091133: 4,
         1093888: 5,
         1096127: 4,
         1098222: 5,
         1098224: 1,
         1101375: 3,
         1103224: 14,
         1105687: 7,
         1105833: 3,
         1106162: 7,
         1106309: 9,
         1108808: 3,
         1111686: 5,
         1113145: 6,
         1113267: 2,
         1114748: 5,
         1116202: 9,
         1117332: 13,
         1117947: 5,
         1118171: 8,
         1118668: 1,
         1118948: 1,
         1118949: 11,
         1119363: 2,
         1119918: 22,
         1121034: 4,
         1124305: 1,
         1129073: 2,
         1131143: 23,
         1131174: 1,
         1132954: 5,
         1134986: 5,
         1141676: 2,
         1141764: 1,
         1143992: 2,
         1144659: 3,
         1145673: 1,
         1147520: 4,
         1151591: 11,
         1151592: 3,
         1156775: 1,
         1160785: 1,
         1161207: 2,
         1162903: 1,
         1164093: 1,
         1171473: 3,
         1174746: 1,
         1174912: 2,
         1176674: 2,
         1176675: 1,
         1182006: 2,
         1186020: 2,
         1191583: 1,
         1192076: 2,
         1193511: 18,
         1195714: 14,
         1211078: 2,
         1218183: 1,
         1224149: 1,
         1226362: 2,
         1229669: 4,
         1235619: 1,
         1247906: 1,
         1250975: 1,
         1251159: 1,
         1252888: 2,
         1254957: 2,
         1256137: 2,
         1259283: 1,
         1259537: 1,
         1263251: 3,
         1263937: 2,
         1264637: 1,
         1270422: 1,
         1271379: 1,
         1272544: 1,
         1275596: 2,
         1282697: 1,
         1290999: 1,
         1291973: 1,
         1292649: 24,
         1295372: 1,
         1297084: 1,
         1298314: 1,
         1303268: 1,
         1308131: 1,
         1311473: 4,
         1314510: 1,
         1318254: 6,
         1323983: 11,
         1325741: 6,
         1325742: 55,
         1326749: 7,
         1327852: 1,
         1332638: 7,
         1334350: 27,
         1335511: 30,
         1335985: 6,
         1338010: 18,
         1341462: 2,
         1341845: 32,
         1345180: 24,
         1350881: 3,
         1351888: 12,
         1352773: 107,
         1358809: 5,
         1359171: 4,
         1359918: 29,
         1363755: 346,
         1433842: 1,
         1436955: 1,
         1437826: 1,
         1439835: 18,
         1441069: 1,
         1441610: 26,
         1443414: 1,
         1447123: 3,
         1448756: 1,
         1450141: 3,
         1451800: 1,
         1453811: 6,
         1455088: 14,
         1457319: 8,
         1457949: 1,
         1462227: 1,
         1466698: 4,
         1473617: 2,
         1474690: 2,
         1483029: 12,
         1485382: 2,
         1492182: 2,
         1494982: 4,
         1496959: 3,
         1501907: 2,
         1502521: 2,
         1506131: 1,
         1507565: 2,
         1514653: 1,
         1516341: 10,
         1516976: 3,
         1525675: 4,
         1528129: 1,
         1532382: 4,
         1536927: 1,
         1540035: 1,
         1544756: 1,
         1546668: 6,
         1550318: 1,
         1550501: 1,
         1553788: 1,
         1553789: 1,
         1558170: 6,
         1558444: 1,
         1560251: 1,
         1560608: 3,
         1563281: 1,
         1563797: 1,
         1564685: 12,
         1568171: 17,
         1568200: 1,
         1568247: 1,
         1569285: 1,
         1571036: 18,
         1572351: 1,
         1573545: 2,
         1576578: 7,
         1576992: 1,
         1578108: 8,
         1578411: 1,
         1582555: 10,
         1587217: 1,
         1588473: 1,
         1588606: 1,
         1588817: 1,
         1590842: 2,
         1599068: 2,
         1602040: 7,
         1610742: 1,
         1612901: 3,
         1613434: 1,
         1620730: 2,
         1626712: 3,
         1629286: 14,
         1630908: 5,
         1631671: 1,
         1633333: 2,
         1633707: 4,
         1642265: 1,
         1644719: 8,
         1645127: 3,
         1645221: 1,
         1648745: 2,
         1650500: 5,
         1651376: 2,
         1651562: 4,
         1652644: 2,
         1653043: 5,
         1657457: 1,
         1658004: 4,
         1659918: 1,
         1661775: 2,
         1664335: 1,
         1664412: 5,
         1666709: 1,
         1670512: 3,
         1671276: 3,
         1677540: 2,
         1679064: 4,
         1680400: 5,
         1682105: 1,
         1682793: 2,
         1686778: 4,
         1695183: 3,
         1703287: 6,
         1713012: 2,
         1713320: 2,
         1714511: 1,
         1716206: 4,
         1716263: 5,
         1717851: 1,
         1718412: 6,
         1718492: 1,
         1719419: 2,
         1721605: 2,
         1724218: 1,
         1725601: 8,
         1726091: 4,
         1728137: 8,
         1728151: 6,
         1731654: 1,
         1731977: 3,
         1732031: 1,
         1732397: 2,
         1733359: 9,
         1733365: 3,
         1733366: 2,
         1734992: 2,
         1735220: 2,
         1735497: 1,
         1736752: 1,
         1736753: 6,
         1737144: 2,
         1744887: 1,
         1746977: 2,
         1748443: 3,
         1749391: 1,
         1750681: 6,
         1758977: 2,
         1765641: 3,
         1767854: 2,
         1768103: 1,
         1769880: 3,
         1772777: 1,
         1772933: 12,
         1773222: 2,
         1774133: 1,
         1775226: 12,
         1775944: 3,
         1783561: 5,
         1785133: 3,
         1785418: 2,
         1786286: 3,
         1788165: 1,
         1790300: 1,
         1790816: 4,
         1791479: 8,
         1794248: 17,
         1794908: 20,
         1795109: 4,
         1795300: 10,
         1798420: 5,
         1799186: 4,
         1803053: 6,
         1807156: 2,
         1807157: 1,
         1809093: 3,
         1810300: 5,
         1811623: 2,
         1811733: 3,
         1812280: 1,
         1813166: 4,
         1813246: 1,
         1814180: 1,
         1816075: 1,
         1817190: 1,
         1817625: 1,
         1817626: 5,
         1817627: 4,
         1819746: 3,
         1820234: 4,
         1821939: 3,
         1823442: 2,
         1824650: 2,
         1829278: 3,
         1831437: 1,
         1832677: 2,
         1836673: 3,
         1837638: 5,
         1837963: 3,
         1837964: 2,
         1839696: 1,
         1842417: 6,
         1845109: 1,
         1845580: 4,
         1849124: 6,
         1851120: 2,
         1851750: 7,
         1852395: 6,
         1852625: 4,
         1853162: 1,
         1854640: 3,
         1855917: 2,
         1856821: 6,
         1858620: 2,
         1968908: 2,
         1976430: 6,
         1979528: 1,
         2011360: 1,
         2011495: 2,
         2015339: 2,
         2016313: 1,
         2032114: 2,
         2032312: 3,
         2038433: 1,
         2056365: 1,
         2069695: 2,
         2075278: 1,
         2075529: 1,
         2078217: 1,
         2081807: 2,
         2093906: 2,
         2095984: 2,
         2103754: 1,
         2108150: 1,
         2114686: 1,
         2119136: 1,
         2125600: 5,
         2128571: 9,
         2133970: 2,
         2145788: 2,
         2154422: 4,
         2164616: 1,
         2167318: 1,
         2175636: 1,
         2189631: 2,
         2193648: 1,
         2193649: 1,
         2208455: 1,
         2215881: 1,
         2216546: 1,
         2219934: 2,
         2225781: 2,
         2230341: 1,
         2236841: 1,
         2240562: 2,
         2245791: 3,
         2249486: 1,
         2249577: 1,
         2251446: 3,
         2263091: 3,
         2266898: 1,
         2284508: 2,
         2305273: 1,
         2308009: 2,
         2309912: 2,
         2315541: 1,
         2316703: 2,
         2323544: 1,
         2325386: 1,
         2347487: 2,
         2358786: 2,
         2360838: 1,
         2361839: 1,
         2363597: 1,
         2386143: 1,
         2396285: 1,
         2396286: 1,
         2396287: 1,
         2399157: 2,
         2399222: 1,
         2401209: 3,
         2403083: 6,
         2406601: 1,
         2432351: 1,
         2432352: 1,
         2436357: 1,
         2436616: 1,
         2450383: 1,
         2462225: 1,
         2466952: 1,
         2470125: 1,
         2480458: 1,
         2486007: 2,
         2488182: 4,
         2492729: 1,
         2492731: 1,
         2493040: 1,
         2493041: 2,
         2499670: 3,
         2501548: 2,
         2511125: 2,
         2528083: 1,
         2552038: 16,
         2552806: 2,
         2553254: 10,
         2555067: 2,
         2557586: 1,
         2558121: 3,
         2558122: 18,
         2559053: 23,
         2559678: 2,
         2560585: 1,
         2566203: 3,
         2570341: 8,
         2571798: 13,
         2573381: 6,
         2573914: 4,
         2574532: 6,
         2575089: 3,
         2579022: 47,
         2580677: 4,
         2580992: 6,
         2581351: 3,
         2583107: 1,
         2584022: 19,
         2586921: 1,
         2587791: 4,
         2588265: 10,
         2589190: 5,
         2589698: 22,
         2592641: 8,
         2593036: 2,
         2593741: 2,
         2594234: 1,
         2595322: 4,
         2595334: 5,
         2595771: 6,
         2595884: 13,
         2597116: 2,
         2597268: 1,
         2597776: 6,
         2597777: 29,
         2597803: 13,
         2598769: 6,
         2599455: 4,
         2600767: 5,
         2600791: 7,
         2601053: 3,
         2601684: 6,
         2602528: 6,
         2603291: 11,
         2604431: 5,
         2606115: 3,
         2606739: 12,
         2607275: 4,
         2607501: 2,
         2607903: 6,
         2608568: 8,
         2609132: 4,
         2609672: 5,
         2609955: 2,
         2610399: 8,
         2611440: 5,
         2614028: 16,
         2619844: 2,
         2621632: 4,
         2621948: 2,
         2622133: 3,
         2623519: 3,
         2625804: 9,
         2627050: 16,
         2627270: 19,
         2627574: 10,
         2628192: 8,
         2628523: 5,
         2628859: 16,
         2629735: 1,
         2630349: 5,
         2630865: 9,
         2632476: 1,
         2632637: 4,
         2634628: 2,
         2635167: 11,
         2635168: 19,
         2635556: 48,
         2635557: 2,
         2637542: 11,
         2637669: 2,
         2639649: 3,
         2642496: 8,
         2644671: 3,
         2644765: 1,
         2645295: 14,
         2645565: 6,
         2646210: 6,
         2669317: 32,
         2670190: 2,
         2670191: 1,
         2672387: 3,
         2672664: 4,
         2673309: 1,
         2675931: 15,
         2676990: 2,
         2678186: 3,
         2681532: 2,
         2683496: 2,
         2684065: 1,
         2685279: 20,
         2685325: 2,
         2686685: 3,
         2687268: 4,
         2687675: 2,
         2687785: 2,
         2688195: 6,
         2688697: 2,
         2689235: 19,
         2689919: 13,
         2690269: 3,
         2691019: 9,
         2692124: 5,
         2692154: 1,
         2692627: 14,
         2694451: 2,
         2694977: 2,
         2696352: 3,
         2696749: 10,
         2702636: 2,
         2703113: 8,
         2705983: 2,
         2707013: 6,
         2707485: 2,
         2707486: 6,
         2708358: 3,
         2708837: 2,
         2709370: 3,
         2712431: 7,
         2712662: 4,
         2714092: 2,
         2714202: 5,
         2716616: 10,
         2717280: 6,
         2718495: 2,
         2721402: 1,
         2721454: 42,
         2724225: 3,
         2724252: 2,
         2724441: 4,
         2726655: 4,
         2726926: 2,
         2727377: 1,
         2728472: 7,
         2729111: 4,
         2729735: 14,
         2733462: 4,
         2734372: 6,
         2735284: 4,
         2735374: 1,

In [100]:
#Treatment: treatmentstring (obj)
#Patient: gender, age, apacheadmissiondx, admissionweight, admissionheight, ethnicity

In [101]:
dfDiagnosis = pd.read_csv('diagnosis.csv', na_values="nan")
dfDiagnosis = dfDiagnosis.dropna()

In [102]:
#dfDiagnosis = dfDiagnosis[dfDiagnosis['diagnosisstring'].str.contains("cardiovascular")]
dfDiagnosis

,diagnosisid,patientunitstayid,activeupondischarge,diagnosisoffset,diagnosisstring,icd9code,diagnosispriority
0,7607199,346380,False,5028,cardiovascular|ventricular disorders|hypertension,"401.9, I10",Other
1,7570429,346380,False,685,neurologic|altered mental status / pain|change...,"780.09, R41.82",Major
2,7705483,346380,True,5035,cardiovascular|shock / hypotension|hypotension,"458.9, I95.9",Major
3,7848601,346380,True,5035,neurologic|altered mental status / pain|schizo...,"295.90, F20.9",Major
4,7451475,346380,False,5028,pulmonary|disorders of vasculature|pulmonary e...,"415.19, I26.99",Major
...,...,...,...,...,...,...,...
24973,43897237,3158501,True,11,neurologic|altered mental status / pain|enceph...,"348.31, G93.41",Other
24974,44151864,3158501,True,11,hematology|white blood cell disorders|leukocyt...,"288.8, D72.829",Other
24975,44379558,3158501,True,11,pulmonary|disorders of acid base|respiratory a...,"276.2, E87.2",Other
24976,44000639,3158501,True,11,neurologic|altered mental status / pain|delirium,"293.0, F05",Other
24977,44496559,3173599,True,36,cardiovascular|chest pain / ASHD|acute coronar...,"410.90, I21.3",Primary

In [103]:
listICDcodes = dfDiagnosis['icd9code'].tolist()
validIndices = []
i=0
for icd in listICDcodes:
    icdCode1 = icd.split(',')[0]
    if re.match(r'^-?\d+(?:\.\d+)$', icdCode1) is not None and float(icdCode1) >= 390 and float(icdCode1) <= 459:
        validIndices.append(i)
    i+=1

dfDiagnosisFiltered = dfDiagnosis.iloc[validIndices]
filteredPatientIds = set(dfDiagnosisFiltered['patientunitstayid'].tolist())

3351763 in filteredPatientIds

False

In [104]:
dfDiagnosis = pd.read_csv('diagnosis.csv', na_values="nan")
dfDiagnosis = dfDiagnosis.dropna()

In [105]:
dfPatient = pd.read_csv('patient.csv')

In [106]:
dfPatient

,patientunitstayid,patienthealthsystemstayid,gender,age,ethnicity,hospitalid,wardid,apacheadmissiondx,admissionheight,hospitaladmittime24,...,unitadmitsource,unitvisitnumber,unitstaytype,admissionweight,dischargeweight,unitdischargetime24,unitdischargeoffset,unitdischargelocation,unitdischargestatus,uniquepid
0,141764,129391,Female,87,Caucasian,59,91,NaN,157.5,23:36:00,...,ICU to SDU,2,stepdown/other,NaN,NaN,18:58:00,344,Home,Alive,002-1039
1,141765,129391,Female,87,Caucasian,59,91,"Rhythm disturbance (atrial, supraventricular)",157.5,23:36:00,...,Emergency Department,1,admit,46.5,45.0,13:14:00,2250,Step-Down Unit (SDU),Alive,002-1039
2,143870,131022,Male,76,Caucasian,68,103,"Endarterectomy, carotid",167.0,20:46:00,...,Operating Room,1,admit,77.5,79.4,10:00:00,793,Floor,Alive,002-12289
3,144815,131736,Female,34,Caucasian,56,82,"Overdose, other toxin, poison or drug",172.7,01:44:00,...,Emergency Department,1,admit,60.3,60.7,20:48:00,1121,Other External,Alive,002-1116
4,145427,132209,Male,61,Caucasian,68,103,"GI perforation/rupture, surgery for",177.8,23:48:00,...,Operating Room,1,admit,91.7,93.1,22:47:00,1369,Floor,Alive,002-12243
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2515,3351763,2741766,Female,62,Caucasian,459,1108,"Fistula/abscess, surgery for (not inflammatory...",165.1,16:08:00,...,Operating Room,1,admit,134.5,133.3,19:24:00,5394,Step-Down Unit (SDU),Alive,035-10391
2516,3352230,2742186,Male,41,African American,458,1107,"CABG alone, coronary artery bypass grafting",177.8,21:21:00,...,Operating Room,2,transfer,127.0,128.5,21:34:00,4261,Telemetry,Alive,035-10089
2517,3352231,2742186,Male,41,African American,458,1104,"Infarction, acute myocardial (MI)",177.8,21:21:00,...,Direct Admit,1,admit,127.0,135.2,22:26:00,1369,Other ICU,Alive,035-10089
2518,3352333,2742269,Male,72,Caucasian,458,1111,GI obstruction,177.8,20:00:00,...,Other Hospital,1,admit,68.3,66.5,17:26:00,4166,Floor,Alive,035-10041
2519,3353113,2742979,Male,50,Caucasian,459,1108,Drug withdrawal,188.0,17:33:00,...,Floor,1,admit,88.0,83.9,18:45:00,2694,Telemetry,Alive,035-10030

In [107]:
dfPatientNew = dfPatient[['patientunitstayid', 'gender', 'age', 'admissionweight', 'admissionheight', 'ethnicity']]
dfPatientNew

,patientunitstayid,gender,age,admissionweight,admissionheight,ethnicity
0,141764,Female,87,NaN,157.5,Caucasian
1,141765,Female,87,46.5,157.5,Caucasian
2,143870,Male,76,77.5,167.0,Caucasian
3,144815,Female,34,60.3,172.7,Caucasian
4,145427,Male,61,91.7,177.8,Caucasian
...,...,...,...,...,...,...
2515,3351763,Female,62,134.5,165.1,Caucasian
2516,3352230,Male,41,127.0,177.8,African American
2517,3352231,Male,41,127.0,177.8,African American
2518,3352333,Male,72,68.3,177.8,Caucasian
2519,3353113,Male,50,88.0,188.0,Caucasian

In [108]:
dfVitalAperiodic = pd.read_csv('vitalAperiodic.csv')
dfVitalAperiodic

,vitalaperiodicid,patientunitstayid,observationoffset,noninvasivesystolic,noninvasivediastolic,noninvasivemean,paop,cardiacoutput,cardiacinput,svr,svri,pvr,pvri
0,3661418,141764,81,171.0,90.0,116.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3661424,141764,334,153.0,78.0,103.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3661417,141764,77,176.0,87.0,107.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3661419,141764,165,173.0,106.0,128.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3661421,141764,255,182.0,103.0,133.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
274083,445476282,3353113,2206,146.0,97.0,116.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
274084,445476261,3353113,1269,121.0,87.0,99.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
274085,445476252,3353113,710,127.0,89.0,103.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
274086,445476260,3353113,1257,123.0,82.0,99.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
274087,445476287,3353113,2660,121.0,74.0,93.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [109]:
dfVitalAperiodic = dfVitalAperiodic.groupby(['patientunitstayid'], as_index=False).mean()[['patientunitstayid','vitalaperiodicid', 'observationoffset','noninvasivesystolic',
                                                                                           'noninvasivediastolic','noninvasivemean']]
dfVitalAperiodic

,patientunitstayid,vitalaperiodicid,observationoffset,noninvasivesystolic,noninvasivediastolic,noninvasivemean
0,141764,3661420.5,204.125000,172.750000,93.375000,125.625000
1,141765,5600897.5,961.900000,146.033333,72.800000,98.400000
2,143870,5022024.5,296.500000,102.500000,53.166667,74.500000
3,144815,1196461.5,480.333333,114.388889,72.777778,88.777778
4,145427,2150246.5,358.250000,116.666667,62.833333,83.208333
...,...,...,...,...,...,...
2326,3351763,443446038.5,2876.161765,135.985294,63.323529,89.279412
2327,3352230,443136851.0,2360.507246,117.101449,65.260870,84.304348
2328,3352231,445040552.0,655.600000,128.000000,71.800000,91.800000
2329,3352333,442861118.5,1505.014286,146.600000,81.628571,106.228571
2330,3353113,445476265.0,1392.111111,136.022222,88.733333,107.511111

In [110]:
dfPatientNew = dfPatientNew.merge(dfVitalAperiodic, how='left', left_on='patientunitstayid', right_on='patientunitstayid')
dfPatientNew

,patientunitstayid,gender,age,admissionweight,admissionheight,ethnicity,vitalaperiodicid,observationoffset,noninvasivesystolic,noninvasivediastolic,noninvasivemean
0,141764,Female,87,NaN,157.5,Caucasian,3661420.5,204.125000,172.750000,93.375000,125.625000
1,141765,Female,87,46.5,157.5,Caucasian,5600897.5,961.900000,146.033333,72.800000,98.400000
2,143870,Male,76,77.5,167.0,Caucasian,5022024.5,296.500000,102.500000,53.166667,74.500000
3,144815,Female,34,60.3,172.7,Caucasian,1196461.5,480.333333,114.388889,72.777778,88.777778
4,145427,Male,61,91.7,177.8,Caucasian,2150246.5,358.250000,116.666667,62.833333,83.208333
...,...,...,...,...,...,...,...,...,...,...,...
2515,3351763,Female,62,134.5,165.1,Caucasian,443446038.5,2876.161765,135.985294,63.323529,89.279412
2516,3352230,Male,41,127.0,177.8,African American,443136851.0,2360.507246,117.101449,65.260870,84.304348
2517,3352231,Male,41,127.0,177.8,African American,445040552.0,655.600000,128.000000,71.800000,91.800000
2518,3352333,Male,72,68.3,177.8,Caucasian,442861118.5,1505.014286,146.600000,81.628571,106.228571
2519,3353113,Male,50,88.0,188.0,Caucasian,445476265.0,1392.111111,136.022222,88.733333,107.511111

In [111]:
dfPatientNew['cardioDiagnosis'] = dfPatientNew['patientunitstayid'].apply(lambda x : x in filteredPatientIds)
dfPatientNew

,patientunitstayid,gender,age,admissionweight,admissionheight,ethnicity,vitalaperiodicid,observationoffset,noninvasivesystolic,noninvasivediastolic,noninvasivemean,cardioDiagnosis
1,141765,Female,87,46.5,157.5,Caucasian,5600897.5,961.900000,146.033333,72.800000,98.400000,False
2,143870,Male,76,77.5,167.0,Caucasian,5022024.5,296.500000,102.500000,53.166667,74.500000,False
3,144815,Female,34,60.3,172.7,Caucasian,1196461.5,480.333333,114.388889,72.777778,88.777778,False
4,145427,Male,61,91.7,177.8,Caucasian,2150246.5,358.250000,116.666667,62.833333,83.208333,False
6,147307,Female,55,72.5,157.5,Caucasian,6918464.5,241.562500,128.375000,65.250000,89.062500,False
...,...,...,...,...,...,...,...,...,...,...,...,...
2515,3351763,Female,62,134.5,165.1,Caucasian,443446038.5,2876.161765,135.985294,63.323529,89.279412,False
2516,3352230,Male,41,127.0,177.8,African American,443136851.0,2360.507246,117.101449,65.260870,84.304348,True
2517,3352231,Male,41,127.0,177.8,African American,445040552.0,655.600000,128.000000,71.800000,91.800000,True
2518,3352333,Male,72,68.3,177.8,Caucasian,442861118.5,1505.014286,146.600000,81.628571,106.228571,False
2519,3353113,Male,50,88.0,188.0,Caucasian,445476265.0,1392.111111,136.022222,88.733333,107.511111,True

In [112]:
dfTreatment = pd.read_csv('treatment.csv')[['patientunitstayid','treatmentstring']]
dfTreatment

       patientunitstayid                                    treatmentstring
0                 242895  cardiovascular|arrhythmias|anticoagulant admin...
1                 242895  cardiovascular|consultations|Cardiology consul...
2                 242895  cardiovascular|non-operative procedures|extern...
3                 242895  pulmonary|vascular disorders|VTE prophylaxis|l...
4                 242895  cardiovascular|consultations|Cardiology consul...
...                  ...                                                ...
38285            3352230  pulmonary|ventilation and oxygenation|mechanic...
38286            3352230  neurologic|pain / agitation / altered mentatio...
38287            3352231  cardiovascular|non-operative procedures|intraa...
38288            3352333  gastrointestinal|consultations|Gastroenterolog...
38289            3353113  neurologic|pain / agitation / altered mentatio...

[38290 rows x 2 columns]

In [113]:
dfTreatment = dfTreatment.groupby(['patientunitstayid'], as_index=False).agg({'treatmentstring': ' '.join})
dfTreatment['treated'] = np.where(dfTreatment['treatmentstring'].str.contains("cardiovascular"), 'True', 'False')
dfTreatment = dfTreatment[['patientunitstayid', 'treated']]
dfTreatment

      patientunitstayid treated
0                242895    True
1                243097    True
2                243999    True
3                244477    True
4                244707    True
...                 ...     ...
1905            3351763    True
1906            3352230    True
1907            3352231    True
1908            3352333   False
1909            3353113   False

[1910 rows x 2 columns]

In [115]:
dfPatientNew = dfPatientNew.merge(dfTreatment, how='left', left_on='patientunitstayid', right_on='patientunitstayid')
dfPatientNew = dfPatientNew.dropna()
dfPatientNew

,patientunitstayid,gender,age,admissionweight,admissionheight,ethnicity,vitalaperiodicid,observationoffset,noninvasivesystolic,noninvasivediastolic,noninvasivemean,cardioDiagnosis,treated_x,treated_y
108,242895,Male,80,101.2,170.18,Caucasian,15957733.0,1102.800000,136.371429,73.028571,87.857143,True,True,True
109,243097,Male,49,127.0,185.40,Caucasian,17382422.5,1191.789474,128.947368,77.815789,88.815789,True,True,True
110,243999,Female,70,98.4,157.50,Caucasian,11676875.0,806.041096,101.589041,55.520548,65.945205,True,True,True
111,244477,Female,55,113.7,165.10,Caucasian,16120409.0,197.000000,112.142857,60.285714,72.285714,False,True,True
112,246997,Male,62,50.1,172.70,Caucasian,18137589.0,733.131148,96.245902,66.819672,79.147541,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2133,3351763,Female,62,134.5,165.10,Caucasian,443446038.5,2876.161765,135.985294,63.323529,89.279412,False,True,True
2134,3352230,Male,41,127.0,177.80,African American,443136851.0,2360.507246,117.101449,65.260870,84.304348,True,True,True
2135,3352231,Male,41,127.0,177.80,African American,445040552.0,655.600000,128.000000,71.800000,91.800000,True,True,True
2136,3352333,Male,72,68.3,177.80,Caucasian,442861118.5,1505.014286,146.600000,81.628571,106.228571,False,False,False
2137,3353113,Male,50,88.0,188.00,Caucasian,445476265.0,1392.111111,136.022222,88.733333,107.511111,True,False,False

In [ ]:
dfPatientNew.to_csv('', index=False)